<div class="titre-page">
  <h4>Liste des clients</h4>
</div>  
<div class="d-flex flex-wrap justify-content-between align-items-center gap-2">
  <div class="d-flex gap-2">
  </div>
</div>
<br><br>
<div class="">
  <div class="datatable">
    <table class="table">
      <thead class="datatable-header">
        <tr>
          <th><strong>ID</strong></th>
          <th><strong>Société</strong></th>
          <th><strong>Last Name</strong></th>
          <th><strong>First Name</strong></th>
          <th><strong>Email</strong></th>
          <th><strong>Status</strong></th>
          <th><strong>Action</strong></th>
        </tr>
      </thead>
      <tbody class="text-sm">
        <tr class="row-data" *ngFor="let responsible of listClient">
          <td>{{ responsible.id }}</td>
          <td>{{ responsible.user?.societe }}</td>
          <td>{{ responsible.user?.lastname }}</td>
          <td>{{ responsible.user?.firstname }}</td>
          <td>{{ responsible.user?.email }}</td>
          <td>
            <i *ngIf="responsible.user?.status === 'En attente'" style="color: #ff9800;" class="fas me-1"> En attente</i>
            <i *ngIf="responsible.user?.status === 'Refuse'" class="fas text-danger me-1">{{ responsible.user.status }}</i>
            <i *ngIf="responsible.user?.status === 'Accept'" class="fas text-success me-1">{{ responsible.user.status }}</i>
          </td>
          <td>
            <ng-container class="ml-auto">
              <button class="dropdown" ngbDropdown placement="bottom-right">
                <a class="dropdown-toggle card-drop" ngbDropdownToggle aria-expanded="false">
                  <i class="btn btn-info btn-sm btn-rounded fas fa-user-times font-size-13"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>  
                  <li><a class="dropdown-item" (click)="updateStatus(responsible.user.id, 1)"> &nbsp;Accept</a></li>
                  <li><a class="dropdown-item" (click)="updateStatus(responsible.user.id, 0)"> &nbsp;Refuse</a></li>
                </ul>
              </button>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
