/* Styles pour le tableau */
.datatable {
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background-color: #fff;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table .table {
    background-color: #fff;
}

/* Styles pour les liens actifs dans le tableau */
.row-data:hover {
    background-color: #f1f1f1;
}

/* Styles pour les boutons du dropdown */
.dropdown-menu {
    background-color: #fff;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-menu > li > a {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
}

.dropdown-menu > li > a:hover {
    background-color: #f0f0f0;
    color: #007bff;
}

/* Styles pour les icônes du statut */
i {
    font-size: 14px;
}

.datatable-header {
    background-color: #007bff;
    color: white;
}
